{% load compress %}
{% load staticfiles %}

<!doctype html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Workplace</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Photography HTML5 Website Template">
    <meta name="keywords" content="HTML5, CSS3, Bootsrtrap, Responsive, Photography, Portfolio, Template, Theme, Website, Themetorium" />
    <meta name="author" content="themetorium.net">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/vendor/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/animsition.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/lightgallery.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/jquery.mb.YTPlayer.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/helper.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/theme.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/css/dark-style.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
  </head>
<body id="body" class="animsition tt-boxed tt-dark-style">
  <header id="header" class="header-show-hide-on-scroll menu-align-right">
    <div class="header-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
      <div id="logo">
        <a href="{% url 'home' %}" class="header-logo">startup<span class="header-logo--secondary">life</span></a>
      </div>
      <nav class="tt-main-menu">
        <div id="tt-m-menu-toggle-btn">
          <span></span>
        </div>
        <div class="tt-menu-tools">
          <ul>
            <li>
              <a href="#" class="tt-tools-button" target="_blank">Entrar</a>
            </li>
          </ul>
        </div>
        <div class="tt-menu-collapse tt-submenu-dark">
          <ul class="tt-menu-nav">
            <li class="tt-submenu-wrap tt-submenu-master">
              <a href="#" class="js-light-switcher">Trocar Cor</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </header>
{% block body %}
  <header>
    {% block header %}{% endblock %}
  </header>

  <div role="main">
    {% block content %}{% endblock %}
  </div>

  {% block cdn_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock cdn_js %}
  <script src="{% static "assets/vendor/js/jquery.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/animsition.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/jquery.easing.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/imagesloaded.pkgd.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/owl.carousel.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/jquery.mousewheel.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/jquery.mb.YTPlayer.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/lightgallery.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/lightgallery-all.min.js" %}"></script>
  <script src="{% static "assets/vendor/js/theme.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  {% block js %}{% endblock js %}
{% endblock %}
</body>
</html>
