/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

.header-logo {
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

.tt-dark-style .header-logo {
  color: #fff;
}

.header-logo--secondary {
  color: #08c1b8;
}

.text-box {
  background-color: #08c1b8;
  padding: 15px;
  overflow: hidden;
}

.gli-alter-4 .gl-item-title {
  font-size: 16px;
  max-height: 100%;
}

.gl-item-info {
  max-height: 100%
}

.gallery-list-item {
  overflow: hidden;
}

.search-input-wrapper {

}

.search-input {
  width: 100%;
  display: block;
  height: 90px;
  font-size: 50px;
  font-weight: 600;
  background-color: #000;
  border: none;
  padding: 15px 30px;
  outline-color: #eee;
  text-align: center;
}

.home-title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: #e6e6e6;
}



.modal-wrapper:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.modal-wrapper.closed {
  display: none;
}

.modal-1 {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: #000;
  border: 2px solid #eee;
  padding: 50px;
  width: 600px;
  max-width: 100%;
  z-index: 4;
}
.modal-1 .modal-close {
  font-family: "Helvetica",Arial,sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #CCC;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.modal-1 .modal-close:hover {
  color: #666;
}

.modal-content {
  overflow: hidden;
}
