/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

.header-logo {
  color: #000;
  font-size: 36px;
  font-weight: bold;
}

.tt-dark-style .header-logo {
  color: #fff;
}

.header-logo--secondary {
  color: #08c1b8;
}

.text-box {
  background-color: #08c1b8;
  padding: 15px;
}
