{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% block content %}
  <div id="body-content">
    <section id="page-header" class="ph-lg ph-center">
      <div class="page-header-image parallax-bg-3 bg-image" style="background-image: url({% static "assets/img/page-header-bg-1.jpg" %});">
        <div class="cover bg-transparent-5-dark"></div>
      </div>
      <div class="page-header-inner tt-wrap">
        <div class="page-header-caption ph-caption-lg parallax-5 fade-out-scroll-4">
          <h1 class="page-header-title">Empresas</h1>
          <hr class="hr-short">
          <div class="page-header-description" data-max-words="40">
            <p>Acompanhe o dia a dia mostrada pelos funcionários.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="gallery-list-section">
    </section>
  </div>
  <section id="gallery-list-section" class="gl-categories">
      <div class="isotope-wrap tt-wrap">
        <div class="isotope col-3 gutter-3">
          <div class="isotope-items-wrap gli-colored gli-alter-5">
            <div class="grid-sizer"></div>
            {% for i in "xxxxxx" %}
              {% for enterprise in enterprises %}
                <div class="isotope-item outdoor iso-height-1">
                  <div class="gallery-list-item">
                    <div class="gl-item-image-wrap">
                      <a href="{% url 'enterprise_details' enterprise.slug %}" class="gl-item-image-inner">
                        <div class="gl-item-image bg-image" style="background-image: url({{ enterprise.main_photo.url }}); background-position: 50% 50%"></div>
                        <span class="gl-item-image-zoom"></span>
                      </a>
                    </div>
                    <div class="gl-item-info">
                      <div class="gl-item-caption">
                        <h2 class="gl-item-title"><a href="{% url 'enterprise_details' enterprise.slug %}">{{ enterprise.name }}</a></h2>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
  </section>
{% endblock content %}