{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% block content %}
  <div id="body-content">


    <!-- ========================
    ///// Begin page header /////
    =============================
    * Use classes "ph-xs", "ph-sm", "ph-lg" or "ph-xlg" to set page header size.
    * Use class "ph-center" or "ph-right" to align page header caption.
    -->
    <section id="page-header" class="ph-lg ph-center">

      <!-- Begin page header image
      =============================
      * Use class "parallax-bg-1" up to "parallax-bg-6" to enable background image parallax effect.
      * Use class "fade-out-scroll-3" to enable fade out effect if page scroll.
      * Use class "hide-ph-image" to hide page header image without removing the code.
      -->
      <div class="page-header-image parallax-bg-3 bg-image" style="background-image: url({% static "assets/img/page-header-bg-1.jpg" %});">

        <!-- Element cover
        ===================
        * You can use prepared background transparent classes depends on brightness of your page header image. More info: file "helper.css".
        -->
        <div class="cover bg-transparent-5-dark"></div>

      </div>
      <!-- End page header image -->

      <!-- Begin page header inner -->
      <div class="page-header-inner tt-wrap">

        <!-- Begin page header caption
        ===============================
        * Use classes "ph-caption-xs", "ph-caption-sm", "ph-caption-lg" or "ph-caption-xlg" to set page header size.
        * Use class "parallax-1" up to "parallax-6" to enable parallax effect.
        * Use class "fade-out-scroll-1" up to "fade-out-scroll-6" to enable fade out effect if page scroll.
        -->
        <div class="page-header-caption ph-caption-lg parallax-5 fade-out-scroll-4">
          <h1 class="page-header-title">Quero Educação</h1>
          <hr class="hr-short">

          <!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
          <div class="page-header-description" data-max-words="80">
            <p>{{ enterprise.description }}</p>
          </div>

        </div>
        <!-- End page header caption -->

      </div>
      <!-- End page header inner -->

    </section>
    <!-- End page header -->

    <section id="gallery-list-section">
      <div class="isotope-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

        <!-- Begin isotope
        ===================
        * Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
        * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
        -->
        <div class="isotope gutter-1 col-6">
          <div class="isotope-items-wrap gli-colored gli-alter-4" id="grid">
            <div class="grid-sizer"></div>

            {% for post in posts %}
              <div class="isotope-item post" data-id="{{ post.id }}">
                <div class="gallery-list-item">

                  {% if post.file %}
                    <div class="gl-item-image-wrap">
                      <a href="gallery-single-grid.html" class="gl-item-image-inner">
                        <img src="{{ post.file }}" class="gl-item-image" alt="">
                      </a>
                    </div>
                    <div class="gl-item-info">
                      <div class="gl-item-caption">
                        <h2 class="gl-item-title"><a href="gallery-single-grid.html">{{ post.text }}</a></h2>
                        <span class="gl-item-category"><a href="albums-archive.html">{{ post.user_display_name }}</a></span>
                      </div>
                    </div>
                  {% else %}
                    <div class="text-box">
                      <h2 class="gl-item-title"><a href="gallery-single-grid.html">{{ post.text }}</a></h2>
                      <span class="gl-item-category"><a href="albums-archive.html">{{ post.user_display_name }}</a></span>
                    </div>
                  {% endif %}

                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block js %}
  <script src="/static/js/poller.js"></script>
{% endblock js %}
