{% extends "_layouts/base.html" %}
{% load staticfiles %}
{% block content %}
  <div id="body-content">
    <section id="page-header" class="ph-lg ph-center">

<!--       <div class="page-header-image parallax-bg-3 bg-image" style="background-image: url({% static 'Selfie.jpg' %}); background-position: 50% 0;">

      </div> -->

      <div class="page-header-inner tt-wrap">
        <h1 class="home-title">Acompanhe o dia a dia das empresas através dos cliques de seus funcionários.</h1>
        <div class="search-input-wrapper">
          <input type="text" placeholder="Buscar..." class="search-input">
        </div>
      </div>
    </section>
    <section id="gallery-list-section">
    </section>
  </div>
  <section id="gallery-list-section" class="gl-categories">
      <div class="isotope-wrap tt-wrap">
        <div class="isotope col-3 gutter-3">
          <div class="isotope-items-wrap gli-colored gli-alter-5">
            <div class="grid-sizer"></div>
            {% for enterprise in enterprises %}
              <div class="isotope-item outdoor iso-height-1">
                <div class="gallery-list-item">
                  <div class="gl-item-image-wrap">
                    <a href="{% url 'enterprise_details' enterprise.slug %}" class="gl-item-image-inner">
                      <div class="gl-item-image bg-image" style="background-image: url({{ enterprise.main_photo.url }}); background-position: 50% 50%"></div>
                      <span class="gl-item-image-zoom"></span>
                    </a>
                  </div>
                  <div class="gl-item-info">
                    <div class="gl-item-caption">
                      <h2 class="gl-item-title"><a href="{% url 'enterprise_details' enterprise.slug %}">{{ enterprise.name }}</a></h2>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </section>
{% endblock content %}
